
/********************************
    1. General CSS
********************************/
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/********************************
    2. Background Images
********************************/
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../images/bgimg.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/bgimg.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/bgimg.jpg");
  min-height: 100%;
}




/********************************
    3. Introduction
********************************/
.hover-card {
  background: #fff url("../images/cardboard-flat.png");
  border: black solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.desc {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 85%;
  width: 40%;
}
.overlay {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 40%;
  height: 85%;
  background: url("../images/cardboard-flat.png");
  opacity: 0.25;
}
.title-card {
  display: block;
  position: relative;
  align-self: center;
  /*stitching*/
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  
  background-color: #556068;
  height: 16%;
  margin: 3% 5%;
  padding: 10px;
  
  /*shadow*/
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
}
.text-center {
  color: #0a0a0a;
  text-align: center;
  width: 100%;
  float: left;
  font-size: 50px;
  font-family: 'TeXGyreAdventorBold';
  text-transform: none;
  height: 4vw;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.para-card {
  display: block;
  position: relative;
  align-self: center;
  /*stitching*/
  outline: 1px dashed #7ad3ae;
  outline-offset: -5px;
  
  background-color: #51b1a1;
  height: 67%;
  margin: 3% 5%;
  padding: 10px;
  
  /*shadow*/
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
}
.para-card:before, 
.para-card:after, 
.para-card>:last-child:before, 
.para-card>:last-child:after {
    position: absolute;
    width: 60px; 
    height: 50px;
    border-color: white; 
    border-style: solid;
    content: ' ';
}
 
.para-card:before {
    top: 15px;
    left: 15px;
    border-width: 1px 0 0 1px
}
.para-card:after {
    top: 15px;
    right: 15px;
    border-width: 1px 1px 0 0
}
.para-card>:last-child:before {
    bottom: 15px;
    right: 15px;     
    border-width: 0 1px 1px 0
}
.para-card>:last-child:after {
    bottom: 15px;
    left: 15px;
    border-width: 0 0 1px 1px
}
  .para-card >div{
    padding: 0px 20px;
    text-align: justify;
    line-height: 25px;
    font-size: 1.15vw;
    color: #444;
  }
.signature {
  position: absolute;
  bottom: 3%;
  right: 20%;
  width: 30%;
}
  .signature img {
    width: 100%;
    height: 100%;
  }
.profile-pic {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 60%;
  width: auto;
  padding: 10px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.profile-img {
  width: auto;
  height: 100%;
}
.profile-desc {
  position: absolute;
  top: 72%;
  left: 5%;
  font-size: 12px;
  letter-spacing: 10px;
  color: rgb(37, 37, 37);
}
.resume {
  position: absolute;
  top: 85%;
  left: 37%;
}
.open-bio{
  display: none;
}


/********************************
    4. Footer
********************************/
.connect-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  z-index: 1001;
}
.icons {
  margin: 0 10px 10px 0;
  letter-spacing: 1vw;
  color: #000;
  float: right;
}
.social {
  display: inline-block;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}
  .social:hover {
    border-color: var(--hover);
    color: #33E9FF;
  }

@keyframes pulse {
    from { color: #000; }
    50% {color: #33E9FF;}
    to { color: #000; }
}
.pulse {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

/********************************
    5. Skills
********************************/
.skill-info-container {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 20px 80px 50px 80px;
  text-align: justify;
  height: fit-content;
}
.skill-info {
  width: 100%;
}
.skill-info-container > hr{
  display: none;
}
#arrow {
  display: none;
}
.skill-container {
  position: relative;
  width: 100%;
  height: 180px;
}
.skill-container > .col {
  display: block;
  float: left;
  width: 31%;
  padding: 1%;
}
.skill-container > .col > h2 {
  margin: 0px 0px 5px 5px;
  font-size: 15px;
}
.skill-bar {
  margin: 5px;
  width: 100%;
  height: 7px;
	position: relative;
  background: rgb(255, 255, 255);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 1px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.skill-bar > span {
  display: block;
  height: 100%;
  border-radius: 5px;
  background-color: #33FF49;
  background-image: #33FF49;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.color1 > span {
  background-color: #33FFAF;
  background-image:  #33FFAF;
}
.color2 > span {
  background-color: #33E9FF;
  background-image: #33E9FF;
}
.color3 > span {
  background-color: #3383FF;
  background-image: #3383FF;
}
.color4 > span {
  background-color: #4933FF;
  background-image: #4933FF;
}
.color5 > span {
  background-color: #AF33FF;
  background-image:  #AF33FF;
}


/********************************
    6. Projects
********************************/
.project-container {
  color:#ddd;
  background-color:#282E34;
  padding:50px 80px 10px 80px;
  padding-top: 7px;
  text-align: justify;
  overflow: hidden;
}
.project-header {
  text-align:center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: rgb(223, 223, 223);
}
.projects > .col {
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  align-content: center;
  text-align:center;
  margin: 2%;
  width: 20%;
  height: 250px;
  float: left;
  padding: 4px;
  background-image: linear-gradient(to right top, #efade3, #d8a9e9, #bda7ee, #9da5ef, #78a4ed, #619aea, #4391e6, #0088e3, #0073e0, #005ed9, #0046d0, #0c28c2);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
}
.project-title {
  margin-top: 4px; 
  width: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.project-desc {
  height: 150px;
  margin: 0% 10px;
  line-height: 25px;
}
.project-link {
  position: relative;
  bottom: 5px;
  align-self: center;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #282E34;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 4px 3px 5px #000;
}
.fill-up:hover,
.fill-up:focus {
  box-shadow: inset 0 -3.25em 0 0 #282E34;
  border-color: var(--hover);
  color: #fff;
}
.grey-out {
  color: #aaa;
  background: #aaa;
  box-shadow: inset 0 -3.25em 0 0 rgb(95, 102, 109);
  border-color: var(--hover);
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .popup .popuptext {
    visibility: hidden;
    width: 20em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1em 1em;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
    opacity: 1;
  }
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 25%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

        

/********************************
    7. Contact
********************************/
.social2 {
  position: absolute;
  left: 39%;
  top: 57%;
}