/********************************
    1. General CSS
********************************/
@media screen and (max-width: 600px) {
    .caption {
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
        color: #000;
    }

    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 18px 0px;
        font-size: 25px;
        letter-spacing: 10px;
    }
}

/********************************
    3. Introduction
********************************/
@media screen and (max-width: 975px) {
    .desc {
        height: 85%;
        width: 55%;
    }
    .para-card > div{
        line-height: 25px;
        font-size: 1.55vw;
    }
    .signature {
        bottom: 3%;
        right: 20%;
        width: 25%;
    }
    .profile-pic {
        top: 10%;
        right: 0%;
        height: 39%;
    }
    .profile-desc {
        top: 72%;
        left: 12%;
        width: 80%;
        font-size: 12px;
        letter-spacing: 10px;
    }
    .resume {
        top: 95%;
        left: 26%;
    }
}
@media screen and (max-width: 730px) {
    .hover-card {
        box-shadow: 0;
        z-index: 2;
        border: 0;
    }
    .desc {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        box-shadow: none;
    }
    .title-card {
        display: none;
        height: 10%;
        padding-top: 5px;
    }
    .overlay {
        display: none;
    }
    .para-card {
        display: none;
        height: 40%;
        position: absolute;
        bottom: 7%;
        background: none;
        box-shadow: none;
        outline: none;
    }
    .para-card > .text{
        margin-top: 20px;
        height: 90%;
        line-height: 28px;
        font-size: 20px;
        overflow: scroll;
        text-align: center;
        color: #111;
    }
    .para-card > .text > p{
        margin-top: 0;
    }
    .open-bio {
        position: absolute;
        top: 55%;
        left: 0%;
        width: 36.7%;
        margin: 0px 31.2%;
        display: block;
    }
    .signature {
        display: none;
    }
    .profile-pic {
        top: 5%;
        right: 0%;
        height: 70%;
        width: 100%;
    }
    .profile-img {
        width: auto;
        height: 50%;
        margin-left: 4%;
    }
    .profile-desc {
        text-align: center;
        top: 40%;
        width: 93%;
        padding: 0 5px;
        left: 5%;
        font-size: 12px;
        letter-spacing: 6px;
    }
    .resume {
        top: 50%;
        left: 0%;
        width: 35%;
        margin: 0px 32.5%;
    }
    .resume button {
        width: 100%;
        padding: 1em 0;
    }
}

/********************************
    4. Footer
********************************/
@media screen and (max-width: 500px) {
    .connect-container .icons {
        margin: 0 10px 10px 0;
        letter-spacing: 6.7vw;
        color: #000;
        float: right;
    }
}



/********************************
    5. Skills
********************************/
@media screen and (max-width: 800px) {
    .skill-info-container {
        color: #777;
        background-color: white;
        text-align: center;
        padding: 20px 5vw 50px 5vw;
        text-align: justify;
        height: fit-content;
    }
}
@media screen and (max-width: 640px) {
    #skill-btn {
        font: 30px "Lato", sans-serif;
        position: relative;
        top: -5px;
    }
    .skill-info-container > hr{
        display: block;
        margin: 0;
    }
    #arrow {
        display: block;
        width: 40%;
        margin: 0 33%;
    }
    .skill-container {
        height: 0;
    }
    .skill-container > .col {
        width:100%;
        padding: 0;
        display: none;
    }
    .skill-container > .col > h2 {
        margin: 0px 0px 5px 5px;
        font-size: 15px;
        text-align: center;
    }
    .skill-bar {
        margin: 5px;
        width: 70%;
    }
}


/********************************
    6. Projects
********************************/
@media screen and (max-width: 1205px) {
    .project-container {
        padding:50px 40px 20px 40px;
    }
    .projects > .col {
        margin: 2% 8%;
        width: 32%;
        height: fit-content;
        float: left;
        padding: 4px;
        padding-top: 7px;
    }
    .project-desc {
        height: 130px;
      }
    .project-link {
        bottom: 0.1vw;
    }
}
@media screen and (max-width: 830px) {
    .project-container {
        padding:10px 5px 20px 0px;
    }
    .project-container > p {
        margin: 0px 7vw;
    }
    .projects > .col {
        margin: 4% 9%;
        width: 80%;
        height: fit-content;
        float: left;
        padding: 4px;
    }
    .project-desc {
        height: fit-content;
      }
    .project-link {
        bottom: 0.1vw;
    }
}

/********************************
    7. Contact
********************************/
@media screen and (max-width: 860px) {
    .social2 {
        position: absolute;
        left: 35%;
        top: 65%;
    }
}
@media screen and (max-width: 600px) {
    .social2 {
        position: absolute;
        left: 30%;
        top: 55%;
    }
}
@media screen and (max-width: 410px) {
    .social2 {
        position: absolute;
        left: 23%;
        top: 60%;
    }
}